<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{show_details.s_name}} Home Page</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <div class="container p-5 my-5 bg-dark text-white">

        <h2>Show Details:</h2>

        <p>Show ID: {{show_details.s_id}}</p>
        <p>Show Name: {{show_details.s_name}}</p>
        <p>Show Censor Rating: {{show_details.s_rating}}</p>
        <p>Show Tags: {{show_details.s_tags}}</p>
        <p>Show Venue: {{show_details.s_venue}}</p>
        <p>Show Timing: {{show_details.s_timing}}</p>
        <p>Show Price: {{show_details.s_price}}</p>
        <p>Show User Rating: {{avg_rating_score|round(1)}}/5</p>

    </div>

</body>

</html>